@import 'blocks';
@mixin theme($theme: $color-01, $bg: $color-04) {
    border: 1px solid $theme;
    background-color: $bg;
    box-shadow: 0 0 1px rgba($color-default, .25);
}

.cars {

    &__title {
        color: $color-02;
    }
    .destacks {
        @include theme;
    }
    &__item {
        @include theme($theme: $color-default, $bg: $bg-color);
        background-color: $color-04;
        display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        &--destack {
            @include theme;
        }

    }
    &__button {
        background-color: $color-01;
    }
}